@media only screen and (max-width:1400px) {

.form-box{
    box-shadow: 0px 0px 10px red;
    padding: 15px;
    margin-top: 28vh;
    margin-left: 23vh;
    width: 75%;
}

.form-box h2{
    text-align: center;
    font-size: 32px;
    color: white;
    text-shadow: 0px 0px 8px black;
}

.form-box .title{
    margin-top: 15px;
    font-size: 24px;
    float: left;
    width: 35%;
}

.form-box .input{
   
    width: 61%;
    margin-left: 15px;
    padding: 10px;
    float: left;
}
.form-box input{
    padding: 8px;
    width: 100%;
}

.form-box .input select{
    padding: 8px;
    width: 100%;
}
.form-box select{
    padding: 8px;
    width: 61%;
    margin-left: 15px;
}
.form-box button{
    width: 50%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 170px;
    background-color: limegreen;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.form-box h3{
    text-align: center;
}

.form-box h3 a{
    text-decoration: none;
    color: red;
}
}